@model AB.Models.ViewModels.DashboardViewModel
@using AB.Models.ModelClasses         
@{
    ViewBag.Title = "Reporting Dashboard";
}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="col-md-12 col-lg-12" style="margin-top:20px">
    <div class="col-md-offset-4 col-lg-offset-4 col-lg-4 col-md-4">
        <div class="col-md-4 col-lg-4">
             @Html.Label("Select LOB:")
        </div>
        <div class="col-md-8 col-lg-8">
             @Html.DropDownListFor(S => S.LOBList, @Model.LOBList, new { @class = "form-control", @style = "width:280px" })
        </div>
              
    </div>
    <br/><br/>
    <div class="container" style="margin-top:10px">
        <table class="table table-responsive table-striped table-bordered" id="processTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Process Name</th>
                    <th>Run</th>
                    <th>Stop</th>
                    <th>Status</th>
                    <th>Time</th>
                    <th>Execution Reports</th>
                    <th>Execution Details</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Process p in Model.LOBInfo.AllProcesses)
                    { 
                        <tr>
                            <td class="tdCheckedProcess"><input class="inpCheckedProcess" type="checkbox" /></td>
                            <td class="tdProcessName">@p.ProcessName</td>
                            <td class="tdRun"><button type="button" class="btn btn-primary run">Run</button></td>
                            <td class="tdStop"><button type="button" class="btn btn-primary stop">Stop</button></td>
                            <td class="tdStatus">@p.ExecutionStatus</td>
                            <td class="tdExecutionTime">@p.ExecutionTime</td>
                            <td class="tdReportFileLink"><a class="viewReportLink" href="#">View Report</a></td>
                            <td class="tdLogFileLink"><a class="viewLogLink" href="#">View Logs</a></td>
                        </tr>
                    }
                }

                
            </tbody>
        </table>

        @*<button type="button" id="runProcess" class="btn btn-primary">Run</button>
        <button type="button" class="btn btn-primary">Stop</button>*@
        @*<button type="button" id="btnViewReports" class="btn btn-primary">View Reports</button>*@
    </div>

    <div class="container" style="border:thin;margin-top:10px;max-height:300px;overflow:auto">
        <div id="parentLogDiv" class="well" style="display:none;overflow:hidden;">
            <div id="logDiv" class="col-lg-12 col-md-12">

            </div>
        </div>
    </div>

    <div class="container" style="margin-top:10px">
        <div class="col-lg-12 col-md-12 well">
            <div class="col-lg-12 col-md-12">
                <h4>Schedule Process</h4>
                <div class="col-lg-4">
                    Select Process:&nbsp;<select id="processToSchedule" class="form-control" multiple size="2">
                        <option>Process 1</option>
                        <option>Process 2</option>
                    </select>
                </div>
                <div class="col-lg-4">
                    Schedule Date:
                    <input id="ScheduleDate" class="form-control" type="text" />
                </div>
                <div class="col-lg-4">
                    Schedule Time:
                    <input id="ScheduleTime" class="form-control" type="text" />
                    
                </div>
           </div>
            <div>
                <button type="button" class="col-lg-offset-8 btn btn-primary" style="float:right">Schedule</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#ScheduleDate').css('cursor', 'pointer');
    $('#ScheduleDate').datepicker({
        showOptions: { speed: 'fast' },
        changeMonth: true,
        changeYear: true,
        format: 'dd/mm/yyyy',
        startDate: new Date(),
        minDate: 0
    }).on('changeDate', function () {

    })
    $('#ScheduleDate').datepicker('setDate', new Date());

    $(document).ready(function(){

        var processName;
        $('.viewLogLink').on('click', function () {
            debugger;
            processName =  $(this).closest('tr').find('td.tdProcessName').html();
            var logFileName = processName + ".log";
            $.ajax({
                type: "POST",
                url: "/Home/GetLogs",
                data: {fileName: logFileName},
                dataType: "JSON",
                success: function (result) {
                    $('#logDiv').html(result);
                    $('#parentLogDiv').show();
                },
                error: function () { }
            })
        })


      
        $('.viewReportLink').on('click', function () {
            var processName = $(this).closest('tr').find('td.tdProcessName').html();
            var name = processName.replace(/\s/g, '');
            var htmlReportFileName = name + ".html";
            //window.open('@Url.Content("~/ABFL_RPA/TestReport/")' + htmlReportFileName.replace(" ", "%20"));
            window.open('@Url.Content("~/ABFL_RPA/TestReport/")' + htmlReportFileName);
        })


        //$('#runProcess').on('click', function () {
        //    debugger;
        //    //$('#processTable tbody td.tdCheckedProcess')
        //    var processName = $('input:checked').closest('tr').find('td.tdProcessName').html();
        //    //var logFileName = processName + ".log";
        //    $.ajax({
        //        type: "POST",
        //        url: "/Home/ExecuteBatch",
        //        data: { processName: processName},
        //        dataType: "JSON",
        //        success: function (result) {
        //            alert("success");
        //        },
        //        error: function () { }
        //    })
        //})

        $('.run').on('click', function () {
            debugger;
            //$('#processTable tbody td.tdCheckedProcess')
            var processName = $(this).closest('tr').find('td.tdProcessName').html();
            //var logFileName = processName + ".log";
            $.ajax({
                type: "POST",
                url: "/Home/ExecuteBatch",
                data: { processName: processName },
                dataType: "JSON",
                success: function (result) {
                    alert("success");
                },
                error: function () { }
            })
        })


        setInterval(function () {
            if (processName != undefined) {
                var logFileName = processName + ".log";
                $.ajax({
                    type: "POST",
                    url: "/Home/GetLogs",
                    data: { fileName: logFileName },
                    dataType: "JSON",
                    success: function (result) {
                        $('#logDiv').html(result);
                        //$('#parentLogDiv').show();
                    },
                    error: function () { }
                })
            }
        }, 5000);
    })
    
</script>